/*
	Resetando todos os elementos do khtml
*/


* { 
	margin: 0 auto; 
	padding: 0; 
}	
#imagens{
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 5%;
	height: 100vh;
	background-image: url(../imagens/cabecalho.png);
	background-size: cover;
	padding:center;
	margin:0px;
}	
a {
	color: black;
	font:18px Ubuntu;
	text-decoration: none;
	padding: 10px;
	font-weight: 300;
	transition: all 0.2s;
}

header {
	width: 100%;
}

header nav {
	padding-top: 15px;
	background: #f36bc6f6;
	height: 35px
}

header nav ul li {
	display: inline; 
}

header nav ul li a:hover {
	background: #ccc;
    color: #fff;
    padding: 10px;
}



section .title {
	font-family: Manjari;
	font-weight: bold;
	color: #000;
	text-align: center;
}

.subtitle {
	font-family: Manjari;
	font-size: 20px;
	color: green;
	text-align: center;
}

.text {
	font-family: Manjari;
	font-size: 20px;
	line-height: 25px;
	color: black;
	text-align: justify;
	padding-bottom: 20px;
}

#images {
	margin: 20px 20px;
	display: flex;
	flex-direction: row;
}

.img {
	display: flex;
	flex-direction: column;
}

.img span {
	padding-bottom: 10px;
}

#ed {
	padding-left: 400px;
}


#home {

	padding: 30px;
	padding: 30px;
}

#picture {
	margin: 5px;
	display: flex;
	flex-direction: row;
}
 
.dicas {
	margin: 5px;
	font-size: 20px;
	color: green;
	text-align: justify;
	display: flex;
	flex-direction: row;
}


